class DotSwarm < Formula
  include Language::Python::Virtualenv

  desc "Minimal, git-native, markdown-first agent orchestration"
  homepage "https://github.com/MikeHLee/dot_swarm"
  url "https://files.pythonhosted.org/packages/source/s/swarm-city/swarm-city-0.2.0.tar.gz"
  sha256 "REPLACE_WITH_SHA256_AFTER_PYPI_PUBLISH"
  license "MIT"

  depends_on "python@3.12"

  def install
    virtualenv_install_with_resources
  end

  test do
    system "#{bin}/swarm", "--version"
  end
end
